#logo {
	transition:.4s!important;
	height:56px!important;
	width:56px!important;
	padding-left:28px!important;
	padding-top:25px!important;
	opacity:0!important;
	position:absolute!important;
	z-index:101!important;
}

#hamburger {
	transition:.4s!important;
	height:56px!important;
	padding-right:28px!important;
	padding-top:25px!important;
	opacity:0!important;
	position:absolute!important;
	z-index:100!important;
}

ul {
  margin: 0!important;
  padding: 0!important;
  overflow: hidden!important;
  background-color: rgb(0,0,0,0)!important;
  top: 0!important;
  width: 100%!important;
}

li a {
  display: block!important;
  color: white!important;
  text-align: center!important;
  padding: 6px 16px!important;
  text-decoration: none!important;
  color: white!important;
  font-family: arial!important;
}

.active {
  background-color: #4CAF50!important;
}

.left {
	float: left!important;
}

.right {
	float: right!important;
}

.bold {
	font-family: arial black!important;
}

.centerImg {
	display: block!important;
	margin-left: auto!important;
	margin-right: auto!important;
	vertical-align: middle!important;
    max-height: 100px!important;
    max-width: 100px!important;
}

.helper {
    display: inline-block!important;
    height: 100%!important;
    vertical-align: middle!important;
}

.vertical-center {
	top:50%!important;
	margin-top:-5em!important;
}

.pophovr {
	color:silver!important;
}

.pophovr:hover {
	font-size: 18.2px!important;
	color: white!important;
	padding-right: 6px!important;
}

.replaceBtn {
    border-radius: 4px!important;
    background-color: #202036!important;
    border: none!important;
    color: #565672!important;
    text-align: center!important;
    font-size: 16px!important;
	font-weight: bold!important;
    width: 180px!important;
    height: 37px!important;
    transition: all 0.5s!important;
    cursor: pointer!important;
    transition: .25s!important;
}

.bar1, .bar2, .bar3 {
  width: 35px!important;
  height: 5px!important;
  background-color: #fff!important;
  margin: 6px 0!important;
  transition: 0.4s!important;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px)!important;
  transform: rotate(-45deg) translate(-9px, 6px)!important;
}

.change .bar2 {opacity: 0!important;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px)!important;
  transform: rotate(45deg) translate(-8px, -8px)!important;
}

#navBG {
	transition: .4s!important;
	position: absolute!important;
	z-index: 99!important;
	width: 100%!important;
	height: 0px!important;
	background-color: #090915!important;
}

.headerTitle {
	transition:.4s !important;
	position:absolute !important;
	color:white !important;
	font-family:arial !important;
	font-weight:bold !important;
	font-size:69px !important;
	padding-top:56px !important;
	padding-left:48px !important;
}

.headerSubTitle {
	transition:.4s !important;
	position:absolute !important;
	color:white !important;
	font-family:arial !important;
	font-size:18px !important;
	padding-top:200px !important;
	padding-left:56px !important;
	width:560px !important;
}

.bg-dark {
  background-color: #191925 !important;
}